.body {
    font-family: 'Raleway', sans-serif;
}
.link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 2%;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.link:hover {
    color: #2196f3;
}
h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 3%;
}
